<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    package="edu.upenn.cis350.cis350finalproject">

    <meta-data
        android:name="com.google.android.geo.API_KEY"
        android:value="AIzaSyD9L96DpB9wyP4Are37YqzlJlICplSR-B0" />


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application

        android:allowBackup="true"
        android:icon="@drawable/appicon"
        android:label="Care to Share?"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity"></activity>

        <activity
            android:name=".ui.login.CreateAccountActivity"
            android:label="@string/title_activity_create_account"
            android:theme="@style/NoActionBar"></activity>

        <activity
            android:name=".ui.login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ClaimPostActivity" />
        <activity android:name=".CreatePostActivity" />
        <activity android:name=".EditProfileActivity" />
        <activity android:name=".MessageBoardActivity" />
        <activity android:name=".MessageResponseActivity" />
        <activity android:name=".ViewAcceptOrRejectActivity" />
        <activity android:name=".ViewDonorResponsesActivity" />
        <activity android:name=".SearchProfilesActivity"></activity>
        <activity
            android:name=".ViewProfileActivity"
            android:label="@string/title_activity_view_profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <meta-data android:name="com.google.android.geo.API_KEY" android:value="AIzaSyD9L96DpB9wyP4Are37YqzlJlICplSR-B0"/>
    </application
        >

</manifest>