<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>Admin Console</title>

<head>
<style>
.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.SearchBar {
    position: absolute;
    top: 355px;
    left: 575px;
    height: 30px;
    width: 50px;
}

.button1 {width: 250px;}
.button2 {width: 50%;}
.button3 {width: 100%;}
</style>
</head>
<body>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<style>
    body    { padding-top:50px; }
</style>

<nav class="navbar navbar-default" role="navigation">
<div class="container-fluid">

    <div class="navbar-header">
        <a class="navbar-brand" href="#">
            <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
            More Info
        </a>

        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
        </ul>

    </div>
</div>
</nav>


<main>
    <div class="jumbotron">
        <h2>Admin Console</h2>
        <p>Search for Users</p>
      <div class="topnav">
		  <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names..">
	  </div>
        <ul id = "myUL">
        <%for (var result in results){%>
          <li style="list-style-type: none;">
><a href="<%= result %>" class="button button2" role="button"><%= results[result].firstName + " " + results[result].lastName %></a></li>    
          <%}%>
        </ul>
    </div>
</main>

<!-- views/partials/footer.ejs -->
<p class="text-center text-muted">CIS 350 Final Project</p>


<script>

  async function getCSVData() {
    fetch('http://localhost:3000/getUser', {
    method: 'GET',
    headers: {
      'Content-Type': 'application/json'

    },
  }).then(function (res) {
    res.json().then(function(data){
      for (var i = 0; i < data.length; i++) {

      }
      console.log(data);
    });
    //document.getElementById("server").innerHTML = res.status;
    // console.log(res);
  }).catch(console.log("HTML ERROR"));
}
// getCSVData();

function myFunction() {
  // Declare variables
  var input, filter, ul, li, a, i, txtValue;
  input = document.getElementById('myInput');
  filter = input.value.toUpperCase();
  ul = document.getElementById("myUL");
  li = ul.getElementsByTagName('li');

  // Loop through all list items, and hide those who don't match the search query
  for (i = 0; i < li.length; i++) {
    a = li[i].getElementsByTagName("a")[0];
    txtValue = a.textContent || a.innerText;
    if (txtValue.toUpperCase().indexOf(filter) > -1) {
      li[i].style.display = "";
    } else {
      li[i].style.display = "none";
    }
  }
}
</script>

</html>


