<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/home.css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <title>Admin Home</title>
</head>



<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
  <a class="navbar-brand">Navbar</a>
  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</nav>


<body>
  <!-- <div class="row">
    <div class="card">
      <div class="card-body">
        This is some text within a card body.
      </div>
    </div>
  </div> -->
  <ul>
    <% for (var k = 0; k < message.length; k++) { %>
    <li>
      <%= message[k].description %>

      <form action="/approve" method="GET">
        <div class="card">
          <div class="card-header">
            <input type="hidden" name="id" value=<%=message[k]._id %> />
            <input id="Button1" class="btn my-2 my-sm-0" type="submit" value="Approve">
          </div>
        </div>
      </form>

      <form action="/disapprove" method="GET">
        <div class="card">
          <div class="card-header">
            <input type="hidden" name="id" value=<%=message[k]._id %> />
            <input id="Button2" class="btn my-2 my-sm-0" type="submit" value="Dissaprove">
          </div>
        </div>
      </form>
    </li>
    <% } %>
  </ul>


</body>

</html>
